*{
    margin: 0;
    padding: 0;

}
.clear{
    clear: both;
}
.contact-titel{
    color:black;
    font-style: italic;
   text-align: center;
   padding: 210px;
   padding-top: 18%;

}
.hr{
    color: black;
}
.contact-logo{
    width: 90px;
}
.contact-body{
    background-image: url("back.png");
    height: 100vh;
}
.contact2{
    background-color: rgb(184, 223, 210);
    margin: 0 50px;
    height: 100vh;
    text-align: center;
    font-style: italic;
    color: rgb(82, 54, 54);
    padding-top: 6%;
}
.form{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
   display: block;
   -moz-box-align:end;
   display: block;
   margin: 0.5rem 0;
}
.m{
    padding:10px;
}


.inbox{
    height: 130px;
    width: 490px;
    padding-top: 5px;

    text-align:left;
   

}
.btn{
    margin-top: 30px;
    background-color:brown;
    color: beige;
}
.btn:hover{
    background-color:tomato;
}